{% extends "base.html" %}

{% block title %}
  <title>{{ driver.username }}</title>
{% endblock %}


{% block content %}
  <h1>
    <b>{{ driver.username }}</b> Details
  </h1>
  <p><strong>First Name: </strong> {{ driver.first_name }}</p>
  <p><strong>Last Name: </strong> {{ driver.last_name }}</p>
  <div class="ml-3">
    <h3>Cars:</h3>
      {% if driver.cars %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Model</th>
            <th scope="col">Manufacturer</th>
          </tr>
        </thead>
        <tbody>
          {% for car in driver.cars.all %}
            <tr>
              <th scope="row">
                <a href="{% url 'taxi:car-detail' car.id %}">{{ car.id }}</a>
              </th>
              <td>{{ car.model }}</td>
              <td>{{ car.manufacturer.name }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3">No cars available.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endif %}
{% endblock %}